@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Inter, sans-serif;
    background-color: #f8f4fc;
}
.container {
    display: flex;
    gap: 80px;
    margin: 40px;
}

main {
    display: flex;
    gap: 80px;
}

.input {
    border: none;
    width: 680px;
    margin-top: 128px;
}

.input-text {
    width: 680px;
    height: 680px;
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 1.75rem;
}

.alerta{
    margin-bottom: 16px;
}

span{
    font-size: 0.60rem;
}

.botoes {
    display: flex;
    gap: 24px;
}

.botao-azul {
    padding: 24px;
    color: white;
    background-color: #103c74;
    width: 328px;
    font-size: 0.80rem;
    cursor: pointer;
    border-radius: 24px;
}

.botao-cinza {
    padding: 24px;
    color: #103c74;
    background-color: #D8DFE8;
    width: 328px;
    font-size: 0.80rem;
    cursor: pointer;
    border-radius: 24px;
}

.botao-branco {
    padding: 24px;
    color: #103c74;
    background-color: transparent;
    width: 336px;
    font-size: 0.80rem;
    cursor: pointer;
    border-radius: 24px;
}

.output {
    width: 400px;
    height: 944px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border: none;
    border-radius: 32px;
}

.conteudo-original{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-substituto{
    display:flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#output-texto{
    width: 336px;
    height: 781px;
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 1.2rem;
    color: #505454;
}

.output-foto{
    width: 336px;
    
}

.output-texto-maior{
    width: 336px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.output-texto-menor{
    width: 336px;
    font-size: 0.80rem;
    text-align: center;
}

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imagem-logo {
    width: 32px;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        margin-top: 40px;
    }
    
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input{
        margin-top: 0px;
        gap: 32px;
    }

    .output{
        width: 624px;
        height: auto;
        padding: 32px;
    }

    .conteudo-original{
        gap: 16px;
    }

    .conteudo-substituto{
        height: auto;
    }
    
    #output-texto{
        width: 624px;
        height: auto;
    }

    .botao-branco{
        width: 624px;
    }

    .output-foto{
        display: none;
    }
    
    .output-texto-maior, .output-texto-menor{
        width: 624px;
    }
}
